:root {
    --cell-border-width: 2px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px 25px 25px;
}

h1 {
    position: relative;
}

h1 button#resetGameBtn {
    position: absolute;
    left: 13em;
}

.text-announcer {
    margin: 0;
    padding: 0;
}

div.game-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

div.game-container div.p1-container,
div.game-container div.p2-container {
    display: flex;
    width: 50%;
}

div.game-container div.p1-container {
    justify-content: flex-end;
}

div.game-container div.p2-container {
    justify-content: flex-start;
}

div.game-container div.player-container-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

div.game-container div.player-container-cols h2 {
    position: relative;
}

div.game-container div.player-container-cols h2 button.change-orientation {
    position: absolute;
    left: 11em;
    top: -.25em;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 / 1; */
    border: 1px solid rgb(205, 205, 205);
}

.gameboard .board-cell {
    width: 10%;
    height: 10%;
    border: 1px solid rgb(205, 205, 205);
    /* aspect-ratio: 1 / 1; */
}

.gameboard .empty-cell {
    background-color: rgb(78, 178, 255);
}

.gameboard .ship-cell {
    background-color: hsla(206, 0%, 50%, 1);
}

.gameboard .hover-ship-cell {
    background-color: hsla(206, 28%, 65%, 1);
}

.gameboard .missed-cell {
    background-color:hsl(0, 0%, 79%);
}

.gameboard .hit-cell {
    background-color:hsl(0, 100%, 66%);
}