:root {
    --game-container-width: 800px;
}
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px 25px 25px;
}

div.game-container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    gap: 25px;
}

div.game-container div.p1-container,
div.game-container div.p2-container {
    display: flex;
    width: 50%;
}

div.game-container div.p1-container {
    justify-content: flex-end;
}

div.game-container div.p2-container {
    justify-content: flex-start;
}

div.game-container div.player-container-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
}

.gameboard .board-cell {
    width: 10%;
    height: 10%;
    border: 2px solid black;
}